html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 20px 60px 0px 20px;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

article {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: calc(25%);
}

.temporada{
  margin-bottom: 2%;
  border: 1px solid black;
}

.actores{
  margin-bottom: 2%;
  border: 1px solid black;
  text-align: center;
}